attr==0.3.2
geocoder==1.38.1
geopy==2.4.1
img2pdf==0.5.1
numpy==2.2.3
pandas==2.2.3
Pillow==11.1.0
pyephem==9.99
PyQt6==6.8.1
PyQt6_sip==13.8.0
pyqtgraph==0.13.7
pyswisseph==2.10.3.2
pytest==7.4.4
python_dateutil==2.9.0.post0
pytz==2024.1
Requests==2.32.3
setuptools==75.6.0
timezonefinder==6.5.8
